main {
    background-color: $background-main;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    font-family: Arial, Helvetica, sans-serif;
    h1 {
        font-family: 'Satisfy', cursive;
        font-size: 5vw;
        color: rgb(85, 67, 67);
        padding: 7vw 0;
        background-color: transparent;
        text-align: center;
        animation: animate__pulse;
        animation-duration: 5s;
        margin-bottom: 0;
    }
}