footer {
    background-color: $background-main;
    padding: 50px 0px 50px 0px;
    display: flex;
    position: relative;
    justify-content: center;
    a{
        display: block;
        top: 30px;
        position: absolute;
        white-space: nowrap;
        border-right: 4px solid;
        font-family: 'Satisfy', cursive;
        font-size: 5em;
        color: rgb(78, 78, 71);
        text-decoration: none;
        width: 27ch;
        animation: typing 6s steps(27), blink .5s infinite step-end alternate;
        animation-iteration-count: 2;
        animation-delay: 5s;
        overflow: hidden;
        img {
            height: 40px;
        }
    }
    p{
        display: flex;
        flex-flow: column;
        position:absolute;
        font-size: 8px;
        bottom: 0.01px;
        left: 1px;
        margin-bottom: 2px;
        color: gray ;
    }
}
@keyframes typing{
    from{ width: 0;}
}
@keyframes blink {
    50% {border-color: transparent;}
}